<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Offer To Candidate</title>

    <style type="text/css">
        span .bolded {
            font-weight: bolder;
        }

        span .underline_text {
            text-decoration-line:underline;
        }
    </style>

</head>
<body>
    $Candidate Email Address$<br />
    Dear $CandidateName$,<br />
    We are pleased to offer you the position of <span class="bolded">$Position$</span> with National Instruments China.<br />
    The offer package enclosed is designed to serve you as an introduction to NI and provide resources that will help you make a smooth transition into your job with us.<br />
    <ol type="I">
        <li>Employment Offer Letter </li>
        <li>Personal Information Form</li>
        <li>Benefits Information Package</li>
        <li>Shuttle Bus information</li>
    </ol>

    <p>
        Please read <span class="bolded">Employment Offer Letter</span> very carefully, and don't hesitate to contact us if anything unclear to you. If there is no objection to any terms of it, please kindly print and sign your name, send back the scan copy together with the filled-out <span class="bolded">Personal Information Form</span> (e-version) <span class="underline_text">by email</span> before the deadline.<br />
    The <span class="bolded">Benefits Information Package</span> describes the main benefits we provide for your reference only.<br />
    By all settled, our <span class="bolded">Shuttle Bus</span> definitely will lead you the right way to NI.
</p>

    <p>
        Another email will follow to address more specific onboarding details after your acceptance. Please do drop me a line or make a call to share your happiness or any concerns you might have. 
    </p>
    <p>
        Wish you a bright career in NI and looking forwards seeing you soon. 
    </p>
    <p>
        Please note, 
        <ul>
            <li>
                If you are a Fresh Graduate, please send the original <span class="bolded">3-Party contract</span> to us by the address: 上海浦东新区张东路1387号45幢 Postcode, 201203
</li>
            <li>
                If you are planning to apply for <span class="bolded">Shanghai Hukou</span> please also kindly let me know.
</li>
        </ul>
    </p>

    <p>
        <b>Thanks.</b><br />
        <b>Best Regards,</b><br />
        Junyu Wu<br />
    </p>

    <b>Instruments China  | 美国国家仪器有限公司</b> <br />
    Junyu Wu 吴军雨  | HR Representative  | Tel: +86-21-50509800-2113 | Fax: +86-21-65556244<br />
    上海浦东张江集电港二期张东路1387号45幢  |  <a href="http://china.www.ni.com">http://china.www.ni.com</a><br />
</body>
</html>
