<!DOCTYPE html>
<html>
<head>  
    <title>OfferDetailForMgrApproval</title>

    <style type="text/css">
        span .bolded {
            font-weight:bolder;
        }
    </style>
</head>
<body>
    Dear Manager,<br />
    Please find below enclosed Offer Letter to <span class="bolded">$Candidate$</span> for <span class="bolded">$Position$</span>.<br />

    Looking forwards to your early reply with approval or any other comments.<br />

    Thanks very much.<br />

    <p>
        <b>Thanks.</b><br />
        <b>Best Regards,</b><br />
        Junyu Wu<br />
    </p>

    <b>Instruments China  | 美国国家仪器有限公司</b> <br />
    Junyu Wu 吴军雨  | HR Representative  | Tel: +86-21-50509800-2113 | Fax: +86-21-65556244<br />
    上海浦东张江集电港二期张东路1387号45幢  |  <a href="http://china.www.ni.com">http://china.www.ni.com</a><br />
</body>
</html>

