<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome letter</title>

    <style type="text/css">
        span.colored {
            font-weight:bolder;
            color:blue;
        }

        span.bolded {
            font-weight:bolder;
        }
    </style>
</head>
<body>
Hi <span class="bolded">$CandidateName$</span>,<br/>
Welcome you to join us at NI on <span class="bolded">$OnboardingDate$</span>!<br/>
    Please read carefully this email, there are still a few more steps to go before your joining. <br />
    <ul>
        <li>
            For those documents required in <span class="colored">Employment Guideline 2016</span>, please provide the day when you join.
        </li>
        <li>
            Health Check is required in 2016 for new employees, please find attached “<span class="colored">2016年入职体检指南</span>” for more details.
        </li>
        <li>
            An e-version of <span class="bolded">formal certificate photo</span> against blue/white background is required in advance to make badge for you.
        </li>
        <li>
            As requested by Fesco (外服), please fill out documents “<span class="colored">附件1：雇员服务信息表</span> “<span class="colored">附件3：申字0-2表</span> and “<span class="colored">个人基本信息采集表</span> and send back to me via email or bring to me the day when you join.<br />
            If you have a permanent Shanghai Hukou, you can <span class="bolded">ONLY</span> fill out the attachment of “<span class="colored">附件1：雇员服务信息表</span>
        </li>
        <li>
            A Debit Card of <span class="bolded">Bank Of China</span> is required for Monthly Salary transfer. See attachment of “<span class="colored">办理银行工资卡</span>”.
        </li>
        <li>
            The “<span class="colored">Guidebook for New Employee</span> will address the general onboarding process within the first half year and for your reference, which helps to understand NI culture better.
        </li>
    </ul>
    Any question, please don’t hesitate to contact me.<br />
    Thanks very much and looking forwards to seeing you soon. <br />
    <p>
        <b>Thanks.</b><br />
        <b>Best Regards,</b><br />
        Junyu Wu<br />
    </p>

    <b>Instruments China  | 美国国家仪器有限公司</b> <br />
    Junyu Wu 吴军雨  | HR Representative  | Tel: +86-21-50509800-2113 | Fax: +86-21-65556244<br />
    上海浦东张江集电港二期张东路1387号45幢  |  <a href="http://china.www.ni.com">http://china.www.ni.com</a><br />
</body>
</html>
